BOT_TOKEN=tu_token_aqui
OWNER_ID=0
LOG_LEVEL=INFO
DATABASE_PATH=database/bot.db
GEMINI_KEY=tu_gemini_key
GEMINI_MODEL=gemini-2.0-flash
HUNTER_KEY=tu_hunter_key
VTOTAL_KEY=tu_virustotal_key
IPLOCATE_KEY=tu_iplocate_key
