BOT_TOKEN=tu_token_aqui
OWNER_ID=0
LOG_LEVEL=INFO
DATABASE_PATH=database/bot.db
GROQ_KEY=tu_groq_key
GROQ_MODEL=llama-3.3-70b-versatile
HUNTER_KEY=tu_hunter_key
VTOTAL_KEY=tu_virustotal_key
IPLOCATE_KEY=tu_iplocate_key
